mat-card {
    box-shadow: none;
    margin: 15px;
}

.container {
    display: grid;
    grid-template-columns: 20% 42% 15% 15% 5%;
    grid-gap: 10px;

    .email-notifications-control {
        align-self: center;
    }
}