<mat-card>
    <mat-card-header>
        <mat-card-title>Rejestracja - AdvAnalyzer</mat-card-title>
    </mat-card-header>
    <form [formGroup]="form">
        <mat-form-field>
            <input formControlName="userName" matInput placeholder="Username">
        </mat-form-field>
        <mat-form-field>
            <input formControlName="email" matInput placeholder="Email">
        </mat-form-field>
        <mat-form-field>
            <input formControlName="phoneNumber" matInput placeholder="Phone number">
        </mat-form-field>
        <mat-form-field>
            <input formControlName="password" type="password" matInput placeholder="Password">
        </mat-form-field>
        <mat-form-field>
            <input formControlName="confirmPassword" type="password" matInput placeholder="Confirm password">
        </mat-form-field>
        <button (click)="submit()" mat-raised-button color="primary">Zarejestruj się</button>
    </form>
</mat-card>