<div class="navbar-container" [class.example-is-mobile]="mobileQuery.matches">

    <mat-toolbar class="navbar" color="primary">
  
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
  
      <a class="navbar-brand" matTooltip="Home">
        <h1>
          AdvAnalyzer
        </h1>
      </a>
  
      <span class="navbar-spacer"></span>
  
      <button matRipple mat-icon-button [matMenuTriggerFor]="notificationMenu" (menuClosed)="handleMenuClick(false)">
        <mat-icon [matBadge]="newNotificationsCount" matBadgeColor="accent" [matBadgeHidden]="newNotificationsCount === 0">notifications</mat-icon>
      </button>
      <mat-menu #notificationMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false" >
  
        <a *ngFor="let notification of notifications" [routerLink]="['/site/advertisement/search-query', notification.searchQueryId]" mat-menu-item>
          <span>{{notification.dateAdded | date: 'dd-MM-YYYY, HH:mm'}} | {{notification.message}}</span>
        </a>
  
      </mat-menu>
  
  
      <button mat-button [matMenuTriggerFor]="userMenu">
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">
  
        <a mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Log out</span>
        </a>
  
      </mat-menu>
  
    </mat-toolbar>
  
    <mat-sidenav-container class="navbar-sidenav-container">

      <mat-sidenav #snav [opened]="!mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'"
        [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class="sidenav">
  
        <mat-nav-list>
          <h3 mat-subheader>Welcome! </h3>

          <a mat-list-item [routerLink]="['/site/dashboard']">
            <mat-icon mat-list-icon>
              dashboard
            </mat-icon>
            <p mat-line> Dashboard </p>
          </a>

          <a mat-list-item [routerLink]="['/site/notification/all']">
            <mat-icon mat-list-icon>
              notifications
            </mat-icon>
            <p mat-line> Notifications </p>
          </a>

          <a mat-list-item [routerLink]="['/site/search-query/all']">
            <mat-icon mat-list-icon>
              search
            </mat-icon>
            <p mat-line> Search Queries </p>
          </a>

          <a mat-list-item [routerLink]="['/site/advertisement/all']">
            <mat-icon mat-list-icon>
              assessment
            </mat-icon>
            <p mat-line> Advertisements </p>
          </a>

          <a mat-list-item [routerLink]="['/site/advertisement/favorite']">
            <mat-icon mat-list-icon>
              favorite
            </mat-icon>
            <p mat-line> Favorite Advertisements </p>
          </a>

        </mat-nav-list>
  
      </mat-sidenav>

      <mat-sidenav-content class="sidenav-content">
  
        <router-outlet></router-outlet>
  
      </mat-sidenav-content>
    </mat-sidenav-container>
  
  </div>