@import "~@angular/material/theming";


.advertisement-list-container {
    padding: 0 15px;

    table {
        width: 100%;
        box-shadow: none;

        td {
            text-align: left;
        }

        tr {
            cursor: pointer;
            transition: background-color 0.5s ease-out 100ms
        }

        tr:hover:not(:first-child) {
            background-color: #d3d3d3;
        }

        .advertisement-img {
            height: 100px;
            width: 150px;
            padding: 5px;
        }
    }
}