@import "~@angular/material/theming";


.advertisement-list-container {
    padding: 0 15px;

    table {
        width: 100%;
        box-shadow: none;
        table-layout: fixed;

        td {
            text-align: left;
        }

        th,
        td {
            overflow: hidden;
            width: auto;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        tr {
            cursor: pointer;
            transition: background-color 0.4s ease-out 100ms
        }

        tr:hover {
            background-color: #d3d3d3;
        }

        .advertisement-img {
            height: 100px;
            width: 150px;
            padding: 5px;
        }
    }
}