.advertisement-list-container {
    padding: 0 15px;

    table {
        width: 100%;
        box-shadow: none;

        td {
            text-align: left;
        }

        .advertisement-img {
            height: 100px;
            width: 150px;
            padding: 5px;
        }
    }
}